.DS_Store
.idea
.vscode
config
assets
certs
*.csv
main
vendor
.env
.env-prod
.dockerignore
*.http
*.rsa
*.pub
*.jpg
*.jpeg
public/metadata/video/media
*.mp4
*.png
*.txt
*.zip
*.xml
public/media/video/debug.test
